<div class="logo">
	<a href="#"> <img src="images/logo.png" />
	</a>
</div>
<div id="headerLeft">
	<a href="#" class="button headerButton thumbnailView"> <span
		class="icon thumbnailButton"></span>
	</a> <a href="#" class="button headerButton listView"> <span
		class="icon listButton"></span>
	</a>
</div>
<div id="headerRight">
	<!--<a href="#add" class="button addLinkButton">
            <span class="icon addButton"></span>
          </a>-->
</div>
<div id="searchbar">
	<div class="searchlogo">
		<span class="icon search"></span>
	</div>
	<div class="searchfield">
		<input type="text" id="searchinput" />
	</div>
</div>