<div class="header">
	<div class="button small header-left">
		<span class="icon small"></span> <span class="title">DE-ROUTING</span>

	</div>
</div>
<div class="scroll nofooter">
	<ul class="menu-list list">
		<li><a href="#/setup"> <span class="title">Setup
					Exploration</span>
				<p class="text">Setup or download a new exploration through the
					neighbourhood</p>
		</a></li>
		<li><a href="#/records"> <span class="title">List
					Records</span> <p class="text">Continue an uncompleted
					exploration or submit your data</p>
		</a></li>
	</ul>
</div>