<h1>Login</h1>
<div class="login-form">
	<ul>
		<li><label>Username or Email</label><input type="text" id="username" placeholder="your username or mail address"></input></li>
		<li><label>Password</label><input type="password" id="password" placeholder="your password"></input></li>
		<li><input type="checkbox" id="remember"></input><label for="remember">Remember me</label></li>
		<li>
			<input type="button" value="Login" class="loginButton">	
			<input type="button" value="Create Account" class="signupButton">
		</li>
	</ul>
</div>
