body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
}

#container {
	width:100%;
	height:100%;
}

#message {
	font-family: 'Courier', monospace ;
	position:fixed;
	bottom:0%;
	right:0%;
	left:0%;
	margin:2em;
	background-color:#cccccc;
	text-align:center;
	border-radius:5px;
	z-index:999;
}

.message-text {
	padding:1em;
}

.single-page {
	height:100%;
}

.single-page h1 {
	padding:0.5em 0.5em 0.5em 1em ;
	background-color: #222222;
	color:#ffffff;
}

.errorpage {
	margin:2em
}

/* INPUT ELEMENTS */

input {
	font-family: 'Courier', monospace ;
	margin-bottom: 1em;
	margin-top: 0.3em;
	padding: 0.5em;
	border-radius:3px;
	border: 1px solid #ddd;
	font-size: 10pt;
}

input[type=button] {
	font-size:10pt;
	padding:0.5em;
	margin:0px 0.5em 0px 0em;
	font-weight:600;
	background-color: #FFA319;
	color:#000000;
	border: 1px solid #FFCC80;
}

input[type=file] {
	height: 0;
  	width: 0;
  	display:none;
}

.file-upload {
	border:1px solid #dddddd;
	border-radius:3px;
	margin: 0.5em 0 1em 0;
	padding:0.3em;
}

.input-file-label {
	display:block
}

.input-file-name {
	margin-left:1em;
	font-family: 'Courier', monospace;
}

.button {
	font-family: 'Courier', monospace;
	font-weight: 600;
	display:inline-block;
	background-color: #FFA319;
	color:#000000;
	border: 1px solid #FFCC80;
	border-radius:3px;
	padding: 0.5em;
}

input:focus {
	/*border: 1px solid #fff;*/
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password] {
	float:none;
	width:100%
}

.button.small {
	background: none;
	border: none;
	color: #FFA319;
	float:none;
	clear:both;
}

/* SIDEBAR STYLES */

#sidebar {
	position:fixed;
	width:230px;
	top:0px;
	bottom:0px;
	left:0px;
	padding: 10px;
	overflow:scroll;
	border-right:1px solid #000000;
	/*background-color:#414147;*/
	color:#ffffff;
	background-color:#222222;
	z-index:2;
}

#sidebar a {
	color:#fff;
	
}

#sidebar h2 {
	margin:1em 0em 0.5em 0em;
}

.sidebar-menu {
	padding:1em;
	border-radius:5px;
}

.sidebar-menu input {
	width:100%;
	margin-bottom:1em;
}

/* CONTENT STYLES */

#content {
	position:fixed;
	left:250px;
	top:0px;
	bottom:0px;
	right:0px;
	padding:20px;
	overflow:scroll;
	z-index:1
}

/* HEADER STYLES */

#header {
	position:fixed;
	top:0px;
	left:251px;
	right:0px;
	height:30px;
	z-index:3;
	padding:10px 20px 10px 10px;
	text-align:right;
	/*background-color: rgba(255,255,255,0.5);*/
}

#header input[type=text] {
	width:50%;
	padding:5px;
	margin:5px;
}

/* OVERLAY ELEMENTS */

.overlay-background {
	position:absolute;
	background-color: rgba(0,0,0,0.5);
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:50;
}

.overlay-dialog {
	position: absolute;
  	top: 40%;
  	transform: translateY(-40%);
	left:20%;
	right:20%;
	margin-left:auto;
	margin-right:auto;
	background-color:#ffffff;
	border-radius:5px;
	z-index:51;
	padding:1em;
}

.overlay-dialog h1 {
	border:none;
}

.overlay-dialog .closeButton {
	float:right;
}



h1 {
	border-bottom:1px solid #000;
	margin-top:0px;
}

.login-form, .signup-form {
	position: relative;
  	top: 30%;
  	transform: translateY(-30%);
	width:500px;
	margin-left:auto;
	margin-right:auto;
}

.invalid {
	/*background: #fff url(images/invalid.png) no-repeat 98% center;*/
    /*border-color: #f00;*/
    background-color: #fee;
}


ul {
	list-style-type: none;
	padding:0px;
}

.link-list {
	padding-top:30px;
}

.link-item {
	border-bottom:1px dotted #ccc;
	margin:20px 0px 0px 0px;
}

.link-item h1 {
	
}

.link-item .description,.url {
	margin:0.5em;
	clear:both;
}

.link-item h1 {
	border:none;
	font-size:120%;
	float:left;
	margin:0.5em;
}

.link-item .editButton {
	float:right;
	background:none;
}

#group-container {
	margin: 1em 0em 1em 0em;
}

.group-list {
	border-bottom:1px dotted #333333;
	overflow:hidden;
	padding-bottom:0.5em;
}

.group-item {
	float:left;
	width:48%;
	text-align:center;
	background-color: #000;
	border-radius:3px;
	margin:1%
}

.group-item .name {
	padding:5px;
}

.group-item .group-icon {
	display:block;
	width:10px;
	height:10px;
	background-color:#ffffff;
	/*border:1px solid #ffffff;*/
	border-radius:5px;
	/*margin: 0.5em auto 0.5em auto;*/
	float:left;
}